@import '../../sass/vars';
@import '../../sass/mixins';

.footer {
    padding: 72px 0 60px 0;

    @include mediaTablet {
        padding: 60px 0 20px 0;
    }
}

.footer__logo {
    margin-top: -12px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 40px 20px;
    }
}

.footer__nav-list {
    display: grid;
    gap: 15px;
}

.footer__contacts-content {
    @include mediaTablet {
        display: grid;
        gap: 5px;
    }
}

.footer__contacts-content .contact__description {
    margin-bottom: 20px;

    @include mediaTablet {
        margin-bottom: 10px; 
    }
}

.contact__key,
.contact__description {
    display: inline-block;
}

.socials-list {
    display: flex;
    column-gap: 22px;

    @include mediaTablet {
        margin-top: 10px; 
    }
}