@import '../../../sass/vars';
@import '../../../sass/mixins';

.header__main-content {
    text-align: center;
}

.header__title {
    font-family: $font-title;
    font-size: 48px;
    font-weight: 700;
    color: $accent;
    margin-bottom: 81px;

    @include mediaTablet {
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
}