
@mixin decorNumbers {
    position: absolute;
    top: 0;

    line-height: 1.15;

    font-family: $font-title;
    font-size: 400px;
    opacity: 0.02;
    color: $white;

    z-index: -1;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}
