// Fonts

$font-main: 'Raleway', sans-serif;
$font-title: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$footer-bg: #2D343C;
$dark: #242B33;
$accent: #D4C17F;
$white: #FFFFFF;
$form-bg: rgba(255, 255, 255, 0.2);
$placeholder: #BEBEBE;


//Media
$tablet: 959px;