@import '../../../sass/vars';
@import '../../../sass/mixins';

.feedback__title {
    margin-bottom: 38px;
}

.feedback__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;

    @include mediaTablet {
        grid-template-columns: 1fr;
    }
}

.form__input {
    height: 50px;
    background: $form-bg;
    padding: 12px;
    text-align: center;
    transition: background-color 0.3s ease;

    font-size: 14px;
    
    cursor: pointer;

    &::placeholder {
        color: $placeholder;
    }

    &:focus {
        cursor: auto;
        background-color: rgba($form-bg, 0.3);
    }
}

.form__privacy {
    color: #E7E7E7;
    font-size: 13px;
    line-height: 1.2;

    &--bottom {
        @include mediaTablet {
            grid-row: 4 / 5;
        }
    }

    &--center {
        @include mediaTablet {
            text-align: center;
        }
    }
}

.form__btn {
    height: 50px;
    background-color: $accent;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #dfcc84;
    }
}