@import '../../../sass/vars';
@import '../../../sass/mixins';

.section-map {
    position: relative;

    padding: 170px 0 180px 0;

    &::before {
        content: "V";
        right: calc(50% + 555px);
        transform: translate(50%, 0%);

        @include decorNumbers;

        top: 140px;
    }

    @include mediaTablet {
        padding: 80px 0 80px 0;
    }
}

.map__title {
    margin-bottom: 88px;

    @include mediaTablet {
        margin-bottom: 40px;
    }
}

.map {
    height: 358px;
    background-color: #626262;
}
